@page "/carrolist"
@using Model
@using Interfaces
@inject ICarroService CarroServices


<h3>CarroList</h3>
<p>Esta página muestra la lista de los carros</p>
@if(carros == null)
{


<p><em>Loading...</em></p>  }
else { 
    
            @foreach(var carro in carros)
                {
               <body>
                <div class="card" style="width: 18rem;">
                    <img src="@carro.foto" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@carro.Marca</h5>
                        <p class="card-text">En venta</p>
                    </div>
                </div>
                </body>
            
                }

}


@code { 
    private IEnumerable<Carro> carros;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            carros = await CarroServices.getAllCarros();
        }
        catch (Exception e)
        {
            throw;
        }
    }
}
