@page "/carrodetails"
@page "/carrodetails/{id:int}"
@using Model
@using Interfaces
@inject ICarroService CarroServices

<EditForm Model="@carro">
    @if (@mensaje!="")
    {
        <div class="alert alert-primary" role="alert">
           @mensaje
        </div>
                }
    <table class="table">
        <tr>
            <td>Marca</td>
            <td><input type="text" @bind="carro.Marca" /></td>
        </tr>
        <tr>
            <td>Chasis</td>
            <td><input type="text" @bind="carro.Chasis" /></td>
        </tr>
        <tr>
            <td>Modelo</td>
            <td><input type="text" @bind="carro.Modelo" /></td>
        </tr>
        <tr>
            <td>Año</td>
            <td><input type="text" @bind="carro.ano" /></td>
        </tr>
        <tr>
            <td>Foto</td>
            <td><input type="text" @bind="carro.foto" /></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><input type="text" @bind="carro.color" /></td>
        </tr>
        <tr>
            <td>Comentario</td>
            <td><input type="text" @bind="carro.comentario" /></td>
        </tr>

        <tr>
            <td colspan="2" style="text-align:center">
                <input class="btn btn-succes" type="submit" value="Save" @onclick="saveCarro" />
                <input class="btn btn-warning" type="button" value="Cancel" @onclick="cancelCarro" />
            </td>
        </tr>
    </table>


</EditForm>

@code {
    [Parameter]
    public int id {get; set;}

    Carro carro = new Carro();
    private string mensaje="";
    protected void cancelCarro() { }

    protected async Task saveCarro()
    {
        if(carro.Chasis==null & carro.Modelo==null & carro.Marca == null & carro.foto == null & carro.comentario == null & carro.color == null & carro.ano == null)
        {
            mensaje = $"No pueden haber campos nulos";
        }
        else
        {
            await CarroServices.saveCarro(carro);
        }

    }

    protected override async Task OnInitializedAsync()
    {
        if (id==0)
        {

        }
        else
        {
            carro = await CarroServices.getDetails(id);
        }
    }
}
