@page "/carrolist"
@using Model
@using Interfaces
@inject ICarroService CarroServices

<div class="alert alert-primary" role="alert">
    <p>Todos los vehiculos</p>
    </div>
    @if (carros == null)
    {


        <p><em>Loading...</em></p> }
    else
    {
        <div class="container principal">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="row">

                        @foreach (var carro in carros)
                        {

                            <div class="col-lg-4 col-md-12 mb-4">
                                <div class="card-section">
                                    <div class="card row cardcar " style="width: 18rem;">
                                        <img style="border-radius: 8px;   height: 229px" src="@carro.foto" class="card-img-top cardcar" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">@carro.Marca</h5>
                                            <p class="card-text">En venta</p>
                                            <a href="/carrodetails/@carro.Id"><i>Editar</i></a>
                                            <a href="/carrodelete/@carro.Id"><i>Eliminar</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        }
                    </div>
                </div>
            </div>
        </div>

    }



    @code {
        private IEnumerable<Carro> carros;

        protected override async Task OnInitializedAsync()
        {
            try
            {
                carros = await CarroServices.getAllCarros();
            }
            catch (Exception e)
            {
                throw;
            }
        }
    }
